<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <title>Cocktails Edit</title>
</head>
<body>
    <h1>Edit</h1>
    <form action="/cocktails/<%= cocktail.id %>?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= cocktail.name %>"></br>
        <label for="tools">Tools</label>
        <input type="text" name="tools" id="tools" value="<%= cocktail.tools %>"></br>
        <label for="glass">Glass</label>
        <input type="text" name="glass" id="glass" value="<%= cocktail.glass %>"></br>
        <label for="method">Method</label>
        <input type="text" name="method" id="method" value="<%= cocktail.method %>"></br>
        <label for="pourChoice">Pour Choice</label>
        <input type="text" name="pourChoice" id="pourChoice" value="<%= cocktail.pourChoice %>"></br>
        <label for="otherIngredients">Other Ingredients</label>
        <input type="text" name="otherIngredients" id="otherIngredients" value="<%= cocktail.otherIngredients %>"></br>
        <label for="garnish">Garnish</label>
        <input type="text" name="garnish" id="garnish" value="<%= cocktail.garnish %>"></br>
        <label for="classic">Classic</label>
        <input type="checkbox" name="classic" id="classic"
            <% if(cocktail.classic === true) { %>
                checked
            <% } %>
        />
        <label for="contemporary">Contemporary</label>
        <input type="checkbox" name="contemporary" id="contemporary"
            <% if(cocktail.classic === false) { %>
                checked
            <% } %>
        /></br>
        <label for="funFact">Fun Fact</label>
        <input type="text" name="funFact" id="funFact" value="<%= cocktail.funFact %>"></br>
        <label for="image">Image</label>
        <input type="text" name="image" id="image" value="<%= cocktail.image %>"></br>
        <input type="submit" value="Update Cocktail">
    </form>
</body>
</html>