<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <title>Cocktails Show</title>
</head>
<body>
    <div id="container">
        <span>
            <img id="cocktail-image" src="<%= cocktail.image %>">
        </span>
        <h1 id="cocktail-name"><%= cocktail.name %></h1>
            <h2 id="cocktail-type">
                <% if (cocktail.classic === true) { %>
                    <span> Classic </span>
                    <% } else if (cocktail.classic === false){ %>
                        <span> Contemporary </span>
                        <% } %>
            </h2>
    </div>
    <ul id="cocktail-deets">
        <li><strong>Tools:</strong> <%= cocktail.tools %></li></br>
        <li><strong>Glass:</strong> <%= cocktail.glass %></li></br>
        <li><strong>Method:</strong> <%= cocktail.method %></li></br>
        <li><strong>Budget Pour Choice:</strong> <%= cocktail.budgetPourChoice %></li></br>
        <li><strong>Premium Pour Choice:</strong> <%= cocktail.premiumPourChoice %></li></br>
        <li><strong>Other Ingredients:</strong> <%= cocktail.otherIngredients %></li></br>
        <li><strong>Garnish:</strong> <%= cocktail.garnish %></li></br>
    </ul>
    </br>
    <a href="/cocktails/">BACK</a>
</body>
</html>